@{
    ViewData["Title"] = "Rover Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

        <form id="frmForm" >
            <p style="font-weight:700;"> Rover Command Application </p>
            <div class="Rover1">
                <label style="text-align:center;margin-left:31px; margin-top:19px;"> Rover 1</label>
                <div class="postion">
                    <label>
                        Rover Input: <select id="roverInput1" style="margin-left:101px;">
                            <option>NULL</option>
                            <option>1 2 N</option>
                            <option>LMLMLMLMM</option>
                        </select>
                    </label>
                </div>

                <div class="movement">

                    <label>
                        Rover Command: <select id="roverCommand1" style="margin-left:60px;">
                            <option value="default">NULL</option>
                            <option value="RoverSpinLeft">Spin Left</option>
                            <option value="RoverSpinRight">Spin Right</option>
                            <option value="RoverMoveFoward">Move Forward</option>
                            <option value="Command">Rover Execute Command</option>
                        </select>
                    </label>
                </div>
                <div class="output1">

                    <b>Rover Direction is :<label id="lblOutput1"></label></b>

                </div>

                <div class="command">
                    <button type="button" id="btnRover1" class="btnSendRoverCommand Rover2Disabled" disabled>Send Rover Command</button>
                </div>
            </div>
            <div class="Rover2">
                <label  style="text-align:center;margin-left:31px; margin-top:19px;"> Rover 2</label>

                <div class="postion">

                    <label>
                        Rover Input: <select id="roverInput2" style="margin-left:101px;">
                            <option>NULL</option>
                            <option>3 3 E</option>
                            <option>MMRMMRMRRM</option>

                        </select>
                    </label>
                </div>
                <div class="movement">

                    <label>
                        Rover Command: <select id="roverCommand2" style="margin-left:60px;">
                            <option value="default">NULL</option>
                            <option value="RoverSpinLeft">Spin Left</option>
                            <option value="RoverSpinRight">Spin Right</option>
                            <option value="RoverMoveFoward">Move Forward</option>
                            <option value="Command">Rover Execute Command</option>

                        </select>
                    </label>
                </div>
                <div class="output2">

                    Rover Direction is :<label id="lblOutput2"></label>

                </div>
                <div class="command">
                    <button type="button" id="btnRover2" class="btnSendRoverCommand Rover2Disabled" disabled>Send Rover Command</button>
                </div>

            </div>
          
               
        </form>

